<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
        Please enable it to continue.</strong>
</noscript>
<div>
    <label>Command
        <input id="command" name="command" type="text"/>
    </label>
    <button id="execute" type="button">Execute</button>
    <button id="intercept" type="button">Intercept</button>
    <button id="clear" type="button">Clear Screen</button>
</div>
<div id="terminal"></div>
<!-- built files will be auto injected -->
</body>
</html>
